src/plugins/soundprovider/fdsnws/xsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SciBeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="SoundProvider" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Parameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Url" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^(http|https)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Network" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Z]{1,2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Station" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Z]{1,5}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Location" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Z]{1,2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Channel" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Z]{1,3}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:dateTime" name="StartTime" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="EndTime" minOccurs="1" maxOccurs="1"/>
              <xs:element name="Tags" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Title" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Copyright" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Software" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Artist" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Comment" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Date" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Genre" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
