src/plugins/soundprovider/xsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SciBeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="SoundProvider" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Parameters">
            <xs:complexType>
                <xs:sequence minOccurs="0">
                    <xs:any maxOccurs="unbounded" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax"/>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
